In [12]:
import pandas as pd 

data = {
    "Name": ["Aban", "Apil", "Alit", "Shan", "Om", "Riya", "Khan", "Mitu"],
    "Age": [25, None, 44, 23, None, 29, 35, None],
    "Department": ["IT", "HR", "IT", "Finance", "HR", "IT", "Finance", "HR"],
    "Salary": [50000, 60000, 70000, None, None, 65000, 72000, 58000],
    "Experience": [2, 4, 10, 1, None, 5, 8, 3]
}

df = pd.DataFrame(data)

print(df)

#check empty by number
print(df.isnull().sum())

#check empty by percentage 
print(df.isnull().mean()* 100)

#ignore unfinshed data
print(df.dropna())

#Nan is fill with mean value
df['Age'] = df['Age'].fillna(df['Age'].mean())
df['Salary'] = df['Salary'].fillna(df['Salary']).mean()
df['Experience'] = df['Experience'].fillna(df['Experience'].mean())

print(df)

   Name   Age Department   Salary  Experience
0  Aban  25.0         IT  50000.0         2.0
1  Apil   NaN         HR  60000.0         4.0
2  Alit  44.0         IT  70000.0        10.0
3  Shan  23.0    Finance      NaN         1.0
4    Om   NaN         HR      NaN         NaN
5  Riya  29.0         IT  65000.0         5.0
6  Khan  35.0    Finance  72000.0         8.0
7  Mitu   NaN         HR  58000.0         3.0
Name          0
Age           3
Department    0
Salary        2
Experience    1
dtype: int64
Name           0.0
Age           37.5
Department     0.0
Salary        25.0
Experience    12.5
dtype: float64
   Name   Age Department   Salary  Experience
0  Aban  25.0         IT  50000.0         2.0
2  Alit  44.0         IT  70000.0        10.0
5  Riya  29.0         IT  65000.0         5.0
6  Khan  35.0    Finance  72000.0         8.0
   Name   Age Department   Salary  Experience
0  Aban  25.0         IT  62500.0    2.000000
1  Apil  31.2         HR  62500.0    4.000000
2  Alit  44.0         IT  62500.0   10.000000
3  Shan  23.0    Finance  62500.0    1.000000
4    Om  31.2         HR  62500.0    4.714286
5  Riya  29.0         IT  62500.0    5.000000
6  Khan  35.0    Finance  62500.0    8.000000
7  Mitu  31.2         HR  62500.0    3.000000