In [55]:
import pandas as pd 

data = {
    "Name": ["Aban", "Apil", "Alit", "Shan", "Om", "Riya", "Khan", "Mitu"],
    "Age": [25, None, 44, 23, None, 29, 35, None],
    "Department": ["IT", "HR", "IT", "Finance", "HR", "IT", "Finance", "HR"],
    "Salary": [50000, 60000, 70000, None, None, 65000, 72000, 58000],
    "Experience": [2, 4, 10, 1, None, 5, 8, 3]
}

df = pd.DataFrame(data)

print(df)

#check empty by number
print(df.isnull().sum())

#check empty by percentage 
print(df.isnull().mean()* 100)

#ignore unfinshed data
print(df.dropna())

#Nan is fill with mean value
df['Age'] = df['Age'].fillna(df['Age'].mean())
df['Salary'] = df['Salary'].fillna(df['Salary']).mean()
df['Experience'] = df['Experience'].fillna(df['Experience'].mean())

print(df)

   Name   Age Department   Salary  Experience
0  Aban  25.0         IT  50000.0         2.0
1  Apil   NaN         HR  60000.0         4.0
2  Alit  44.0         IT  70000.0        10.0
3  Shan  23.0    Finance      NaN         1.0
4    Om   NaN         HR      NaN         NaN
5  Riya  29.0         IT  65000.0         5.0
6  Khan  35.0    Finance  72000.0         8.0
7  Mitu   NaN         HR  58000.0         3.0
Name          0
Age           3
Department    0
Salary        2
Experience    1
dtype: int64
Name           0.0
Age           37.5
Department     0.0
Salary        25.0
Experience    12.5
dtype: float64
   Name   Age Department   Salary  Experience
0  Aban  25.0         IT  50000.0         2.0
2  Alit  44.0         IT  70000.0        10.0
5  Riya  29.0         IT  65000.0         5.0
6  Khan  35.0    Finance  72000.0         8.0
   Name   Age Department   Salary  Experience
0  Aban  25.0         IT  62500.0    2.000000
1  Apil  31.2         HR  62500.0    4.000000
2  Alit  44.0         IT  62500.0   10.000000
3  Shan  23.0    Finance  62500.0    1.000000
4    Om  31.2         HR  62500.0    4.714286
5  Riya  29.0         IT  62500.0    5.000000
6  Khan  35.0    Finance  62500.0    8.000000
7  Mitu  31.2         HR  62500.0    3.000000

In [56]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

data = {
    "Student_ID": [101,102,103,104,105,106,107,108,109,110],
    "Name": ["Ayan","Ritu","Kabir","Nila","Sohan","Maya","Arif","Tina","Rahim","Puja"],
    "Gender": ["Male","Female","Male","Female","Male","Female","Male","Female","Male","Female"],
    "Course": ["Python","Data Science","Python","ML","ML","Python","Data Science","Python","ML","Data Science"],
    "Level": ["Beginner","Intermediate","Beginner","Advanced","Intermediate","Beginner","Advanced","Intermediate","Advanced","Beginner"],
    "Hours_Studied": [20,35,15,50,40,None,60,30,None,25],
    "Score": [65,78,55,88,82,70,90,None,85,60],
    "Completed": ["Yes","Yes","No","Yes","Yes","No","Yes","Yes","No","Yes"]
}

df = pd.DataFrame(data)


#lebel_encoding 

le= LabelEncoder()
df_level = df.copy()

df_level['Gender_encoded'] = le.fit_transform(df_level['Gender'])
df_level['Completed_encoded']= le.fit_transform(df_level['Completed'])

print('\n Lavel Encoding')
print(df_level[['Name','Gender','Gender_encoded', 'Completed','Completed_encoded']])


# One_Hot Encoding 
 
df_encoding = pd.get_dummies(df_level, columns=['Course', 'Level'], dtype= int )
print(df_encoding)

 Lavel Encoding
    Name  Gender  Gender_encoded Completed  Completed_encoded
0   Ayan    Male               1       Yes                  1
1   Ritu  Female               0       Yes                  1
2  Kabir    Male               1        No                  0
3   Nila  Female               0       Yes                  1
4  Sohan    Male               1       Yes                  1
5   Maya  Female               0        No                  0
6   Arif    Male               1       Yes                  1
7   Tina  Female               0       Yes                  1
8  Rahim    Male               1        No                  0
9   Puja  Female               0       Yes                  1
   Student_ID   Name  ... Level_Beginner  Level_Intermediate
0         101   Ayan  ...              1                   0
1         102   Ritu  ...              0                   1
2         103  Kabir  ...              1                   0
3         104   Nila  ...              0                   0
4         105  Sohan  ...              0                   1
5         106   Maya  ...              1                   0
6         107   Arif  ...              0                   0
7         108   Tina  ...              0                   1
8         109  Rahim  ...              0                   0
9         110   Puja  ...              1                   0

[10 rows x 14 columns]

In [57]:
import pandas as pd 
from sklearn.preprocessing import StandardScaler , MinMaxScaler, LabelEncoder
from sklearn.model_selection import train_test_split

df = pd.read_csv('sample_data.csv')
df_scaler = df.copy()

le= LabelEncoder()
df_scaler['Gender_encoded'] = le.fit_transform(df_scaler['Gender'])

df_scaler = pd.get_dummies(df_scaler, columns=['City'], dtype=int)

cols_to_scale = [
    'Gender_encoded',
    'City_Bangalore',
    'City_Chennai',
    'City_Delhi',
    'City_Mumbai'
]

# print(df_scaler)

Standard_Scaler = StandardScaler()
Standard_Scaled = Standard_Scaler. fit_transform(df_scaler[cols_to_scale])

print("standard scaler output:")
print(pd.DataFrame(Standard_Scaled, columns=cols_to_scale))

Minmax_Scaler = MinMaxScaler()
Minmax_Scaled = Minmax_Scaler.fit_transform(df_scaler[cols_to_scale])

print("Min Max scaler output:")
print(pd.DataFrame(Minmax_Scaled, columns=cols_to_scale))

X = df_scaler[['Gender_encoded']]
Y = df_scaler[['City_Bangalore', 'City_Chennai', 'City_Delhi', 'City_Mumbai']]

X_train , X_test , Y_train , Y_test =train_test_split(X, Y, test_size= 0.2 , random_state=42)

print("X-Train", X_train)
print("X-Test", X_test)
print("Y-Train", Y_train)
print("Y-Test", Y_test)

standard scaler output:
    Gender_encoded  City_Bangalore  City_Chennai  City_Delhi  City_Mumbai
0              1.0            -0.5          -0.5    1.362770    -0.577350
1             -1.0            -0.5          -0.5   -0.733799     1.732051
2              1.0             2.0          -0.5   -0.733799    -0.577350
3             -1.0            -0.5          -0.5   -0.733799     1.732051
4              1.0            -0.5          -0.5    1.362770    -0.577350
5             -1.0            -0.5           2.0   -0.733799    -0.577350
6              1.0             2.0          -0.5   -0.733799    -0.577350
7             -1.0            -0.5          -0.5    1.362770    -0.577350
8              1.0            -0.5           2.0   -0.733799    -0.577350
9             -1.0            -0.5          -0.5   -0.733799     1.732051
10             1.0            -0.5           2.0   -0.733799    -0.577350
11            -1.0            -0.5          -0.5    1.362770    -0.577350
12             1.0            -0.5          -0.5   -0.733799     1.732051
13            -1.0             2.0          -0.5   -0.733799    -0.577350
14             1.0            -0.5          -0.5    1.362770    -0.577350
15            -1.0            -0.5          -0.5   -0.733799     1.732051
16             1.0            -0.5           2.0   -0.733799    -0.577350
17            -1.0            -0.5          -0.5    1.362770    -0.577350
18             1.0            -0.5          -0.5    1.362770    -0.577350
19            -1.0             2.0          -0.5   -0.733799    -0.577350
Min Max scaler output:
    Gender_encoded  City_Bangalore  City_Chennai  City_Delhi  City_Mumbai
0              1.0             0.0           0.0         1.0          0.0
1              0.0             0.0           0.0         0.0          1.0
2              1.0             1.0           0.0         0.0          0.0
3              0.0             0.0           0.0         0.0          1.0
4              1.0             0.0           0.0         1.0          0.0
5              0.0             0.0           1.0         0.0          0.0
6              1.0             1.0           0.0         0.0          0.0
7              0.0             0.0           0.0         1.0          0.0
8              1.0             0.0           1.0         0.0          0.0
9              0.0             0.0           0.0         0.0          1.0
10             1.0             0.0           1.0         0.0          0.0
11             0.0             0.0           0.0         1.0          0.0
12             1.0             0.0           0.0         0.0          1.0
13             0.0             1.0           0.0         0.0          0.0
14             1.0             0.0           0.0         1.0          0.0
15             0.0             0.0           0.0         0.0          1.0
16             1.0             0.0           1.0         0.0          0.0
17             0.0             0.0           0.0         1.0          0.0
18             1.0             0.0           0.0         1.0          0.0
19             0.0             1.0           0.0         0.0          0.0
X-Train     Gender_encoded
8                1
5                0
11               0
3                0
18               1
16               1
13               0
2                1
9                0
19               0
4                1
12               1
7                0
10               1
14               1
6                1
X-Test     Gender_encoded
0                1
17               0
15               0
1                0
Y-Train     City_Bangalore  City_Chennai  City_Delhi  City_Mumbai
8                0             1           0            0
5                0             1           0            0
11               0             0           1            0
3                0             0           0            1
18               0             0           1            0
16               0             1           0            0
13               1             0           0            0
2                1             0           0            0
9                0             0           0            1
19               1             0           0            0
4                0             0           1            0
12               0             0           0            1
7                0             0           1            0
10               0             1           0            0
14               0             0           1            0
6                1             0           0            0
Y-Test     City_Bangalore  City_Chennai  City_Delhi  City_Mumbai
0                0             0           1            0
17               0             0           1            0
15               0             0           0            1
1                0             0           0            1